<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="home.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amaranth:400">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Krub:700">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bungee:400">

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
	<body>
	<!-- Home -->
	<div class="frame" id="n3_0">
		<ol class="direction">
			<!-- Home -->
			<div class="left top text" id="n4_5">Home</div>
			<!-- Bantuan -->
			<div class="left top text" id="n4_6">Bantuan</div>
			<!-- Hubungi Kami -->
			<div class="left top text" id="n4_8">Hubungi Kami</div>
		</ol>
		<!-- Rectangle 4 -->
		<div class="left top rectangle" id="n4_17"></div>
		<!-- image 1 -->
		<div id="n4_3"></div>
		<!-- Selamat Datang! -->
		<div class="left top text" id="n3_2">Selamat Datang!</div>
		<!-- Bergabunglah dalam komunitas hobi terbesar di Indonesia -->
		<div class="left top text" id="n4_4">Bergabunglah dalam komunitas hobi terbesar di Indonesia</div>
		
		<p id="desc1">
		Berbagai hobi biasa akan menjadi luar biasa apabila setiap insan manusia saling berkolaborasi.
		
		Kolaborasi yang dicapai tanpa batasan ruang dan waktu dapat dilakukan secara instan melalui platform kami.
		
		Depresi? Galau? Bimbang?
		Platform ini dijamin bikin kamu Anti Depresi!
		Yuk, pakai andep aja!
		</p>
		<p id="desc2">
			Tersedia berbagai Platform hobi yang menarik dan dapat dilakukan oleh banyak pengguna sekaligus untuk berkolaborasi bersama. Mulai dari platform hobi memasak, gaming, atau kamu yang senang travelling juga bisa. Kamu pun bisa mengobrol dengan teman langsung lewat video konferensi yang tentunya bikin kamu anti depresi deh.			
		</p>
		<ul class="category">
			<!-- GAMING -->
		<button id="btn_category1" href="link gaming">
			<div class="left top text" id="n15_4">
				GAMING
				<!-- image 2 -->
				<img id="n15_3" src="https://s3-alpha-sig.figma.com/img/f78e/5008/7d69dcdadaca62f4fc3286681a7d477f?Expires=1597622400&Signature=Lm4i-cFKJPD-NB2Bc1ZHheEe4-JcCegWOawqkykgpYJ~2ATjrbRJ806FlI3Q5hPas5EGDdW4And0TOIWreXi3QcPuxV0kFaNMvRJrv8S0FV~YRoT~pNZk9Erlb3~jW9dEr~Orf6wInnoMebI1rpEv2g75VjEpR-hqAZizoxTXwrmdPI8nLNaLfEkH6LrSZJQ4gmetONzqzd~o9tWjTWhbEjWlJaicT1OZICgt0PZJ0lzKWYqp8rSiDFwZ1Iyo~imepjnU6bCVf6xY~-u0ifD8VX04irBFWJCAAV486n1uWji87Hk7SP17y2gpYgIlGBprAmK991q~GWmwnqMQGNHTA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA">
			</div>
		</button>
		<!-- COOKING -->
		<button id="btn_category2" href="link cooking">
			<div class="left top text" id="n15_13">
				COOKING
				<!-- image 3 -->
				<img id="n15_6" src="https://s3-alpha-sig.figma.com/img/719c/a5c4/8cffd8538c7dfc65b39258984c34aa71?Expires=1597622400&Signature=R5hTshhxLmwO0VN7RwuOcIGxMhqt57HM3nhMP4z9o9jtiVzHSst8dwHQyfos0W5BsaLZqs1MI1jNfo-QLX-J564P1ZC4nB25xqL4pVrRtQ01CmSWa4YgsgdgePWki3zu79cVi0JXRGMxUFU-ZGcfSmNzo4Rvu891Dzr-9e2Ew-EJvUv-Aq7mS5mFZaMkOlpNET2hXZE0yEi1oVzG-hRm9~3nMHgCb9CppfdpRIr87jaiy6XnRdIg5G4t9B50-66jNK92xigK50Em5Hfjo3gnAwv-rmifBI7-fTVrMPWD7DoRB20ouoHXgnfcsVwroITAfjcZ3Pmgx1kCUkk8ibhRcg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA">
			</div>
		</button>
		<!-- TRAVELLING -->
		<button id="btn_category3" href="link travelling">
			<div class="left top text" id="n15_14">
				TRAVELLING
				<!-- image 5 -->
				<img id="n15_9" src="https://s3-alpha-sig.figma.com/img/e0ec/3547/854a26a102b69a027acc4f216561349c?Expires=1597622400&Signature=OqUm~b2~lqDWSiVmNymdKKJSyQkRKgQ6GOmbZUCL4jXrg7JLATP6dc7K62FIzYIaMPL~OP8oFOLIKlPOyty8KIZMM89NHpbBXHCVlisq7finwwCEAR4gVrf~DZjgNrst4-ZwXnxFCzDkxQkRgsH5EegTBhYU7D10-s9wkPucpSX-gZwhxtep6BpvidfMxYWTtH-6rrCVxSwCUn9ld759hp907Ub3GctiY2d3krQPFHJn-u2e~6f~y4Cf9F2Zst0gkxoLWo1G8snlRPyIW3YXeJAa5o67hE5IRva3yu1A6VBI2Bo5gzJNZQDwyCO9PiKr39pVYkcmvdTML1HCtWcasw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA">
			</div>
		</button>
		<!-- Technology -->
		<button id="btn_category4" href="link Technology">
			<div class="left top text" id="n15_15">
				Technology
				<!-- image 6 -->
				<img id="n15_11" src="https://s3-alpha-sig.figma.com/img/a33b/1b34/26b4681b5f2f6af5d0ecb0bd0574a8d1?Expires=1597622400&Signature=B-TlhCUEIABe0zkQJjiFfl66OTvPQ2HPDpm9~6XjKV2qFVio1WK9Byold6pY2iZwPk9g48oWsshYSRrLTdaoq9boHOquy7vy0sJV42YdZoxq8fwqo-8FDNCGqtAOOZNpk6xfY2Tp2i~~eDKmoWtVfQw9UoP7x5nAS7MT4ezuuGiW-0lJ4QDTzCO50kT3xg03n4tMIs~I91QkyFclmdXcrHLZErv0k2reZi-270E6K1cgA13jHQDytUS7M812hoBix4lWv6ZGyx7Sh7mDo8FTpE5gVsEj0h6K~Fi6qPOWUg6WWrlZGFCCB3FqqouDy8WJW8RRBq-4vzNvi-42gU0iWg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA">
			</div>
		</button>
	</ul>
	<p id="desc3">
		Yuk, bergabunglah bersama kami.
	</p>
	<ul class="rectangle_masuk_daftar">
		<a href="link_daftar" style="color: rgba(0, 77, 194, 0.99);">
			<div id="back_daftar">
				<li id="daftar">daftar sekarang</li>
			</div>
		</a>
	</ul>
	<div id="n4_13"></div>
	<!-- Rectangle 1 -->
	<div class="left top rectangle" id="n4_0"></div>
		<!-- Hak Cipta Andep Team 2020 -->
		<div class="left top text" id="n4_22">Hak Cipta Andep Team 2020</div>
	</div>
	</body>
</html>